

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }


/*Lilia's CSS*/


/* @license
 * MyFonts Webfont Build ID 2172392, 2012-03-25T20:57:44-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Museo 700 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo/700/
 * Licensed pageviews: unlimited
 * 
 * Webfont: Museo 500 by exljbris
 * URL: http://www.myfonts.com/fonts/exljbris/museo/500/
 * Licensed pageviews: unspecified
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2172392
 * Webfonts copyright: Copyright (c) 2008 by Jos Buivenga/exljbris. All rights reserved.
 * 
 * © 2012 Bitstream Inc
*/



@font-face {
font-family: 'Museo-700';
src: url('fonts/2125E8_0_0.eot');
src: url('fonts/2125E8_0_0.eot?#iefix') format('embedded-opentype'),
url('fonts/2125E8_0_0.woff') format('woff'),
url('fonts/2125E8_0_0.ttf') format('truetype');
}
 
  
 @font-face {font-family: 'Museo-500';
 src: url('fonts/2125E8_1_0.eot');
 src: url('fonts/2125E8_1_0.eot?#iefix') format('embedded-opentype'),
 url('fonts/2125E8_1_0.woff') format('woff'),
 url('fonts/2125E8_1_0.ttf') format('truetype');
 }
 

body {
background:url(images/arches.png);
}

#site-wrapper {
max-width:960px; 
width:100%;
margin:0 auto;
}

#site-header {
background-color:#E3DC05;
position:relative;
height:700px;

}

#site-header h1 {
position:absolute;
display:block;
font-family: Museo-700, Georgia, serif;
font-size:23em;
color:white;
padding: 320px 0px 0px 0px;
text-shadow: 8px 8px 0 rgba(0,255,255,1);
margin-left:-1%;
}

#site-header p {
position:absolute;
display:block;

margin-top:20%;
margin-left:54%;
padding:10% 0% 0% 0%;
}

.Circle {
position:absolute;
margin: 15% 0% 0% 50%;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

    width:305px;
    height: 305px;
    background: #00BCE4;
    }
    
.circle-text {     
    font-family: Museo-500;
    font-size:1.5em;
    line-height:1em;
    color:white;
    margin:100px 0px 0px 35px;
    width:250px;
    }

#top-menu {
position:fixed;
top:0%;
width:180px;
background-color:#E3DC05;
padding:5px 0px 10px 0px;
}

#top-menu li {
float:left;
margin-left:1%;
}


#top-menu li a{
display:block;
text-decoration:none;
color:white;
font-family:Museo-500;
font-size:0.8em; 
padding: 10px 5px 0px 10px;
}

#top-menu li a:hover {
color:#00BCE4;
}

#content-wrapper {
max-width:960px;
width:100%;
margin:0% auto;
background-color:white;
 }
 

#content-wrapper h2 {
font-family: Museo-700;
font-size:1.5em;
color:#00BCE4;
margin-left:8%;
}

#content-wrapper h3 {
font-family: Museo-500;
font-size:1em;
color:#9A8B7D;
line-height:1.5em;
margin-left:8%;
}

#content-wrapper p {
font-family: Museo-500;
font-size:0.8em;
color:#9A8B7D;
line-height:1.5em;
margin-left:8%;
border-bottom-style:solid;
border-width:2.5px;
border-color:#E3DC05;
}

#content-wrapper p span {
font-family: Museo-500;
font-size:1em;
color:#00BCE4;
line-height:1.5em;
}

#content-wrapper img {
margin:5% 0% 2% 5%;
max-width:100%;
}



#my_video_1 {
margin:8% 0% 7% 9%;
}

#content {
background-color:white;
}

.numberCircle {
	position:absolute;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

    width: 50px;
    height: 50px;
    padding: 15px;
    background: #E3DC05;
    
    font-family: Museo-700;
    font-size:43px;
    line-height:60px;
    color:white;
    text-align:center;
    margin-left:-50px;
}​



#thankyou {
position:absolute;
}


#thankyou h1 {
font-family: Museo-700;
font-size:200px;
color:#E3DC05;
margin-left:80px;
padding:100px 0px 0px 0px;
}

#thankyou h1 span{
font-family: Museo-700;
font-size:100px;
color:#E3DC05;
margin-left:40px;
padding:100px 0px 0px 0px;
}

#thankyou h2 {
display:block;
width:40%;
margin-left:50%;
font-family: Museo-500;
font-size:1.25em;
color:#00BCE4;
padding:0% 0% 10% 0%;
}

.resume a{
font-family: Museo-500;
font-size:1em;
line-height:1em;
color:#E3DC05;
text-decoration:none;
 }

.resume a:hover {
color:#00BCE4;
}

#contact-info {
position:absolute;
background-color:#E3DC05;
max-width:960px;
width:100%;
height:8%;
padding: 2% 0% 0% 0%;
font-family: Museo-500;
font-size:1em;
line-height:0.2em;
color:white;
}

.email  a {
margin-left:50%;
font-family: Museo-500;
font-size:1em;
color:white;
text-decoration:none;
}

.email a:hover {
color:#00BCE4;
}

.footer {
display:block;
width:200px;
font-family: Museo-500;
font-size:0.5em;
color:white;
margin:25px 0px 0px 480px;
font-family: Museo-500;
font-size:0.5em;
color:white;
margin:25px 0px 0px 480px;
}

#footer-wrapper {
position:fixed;
}


/*responsive*/


@media screen and (max-width:480px) {

#site-header {
background-color:#E3DC05;
position:relative;
height:300px;
}


#site-header h1 {
position:absolute;
font-family: Museo-700, Georgia, serif;
font-size:9em;
color:white;
padding: 150px 0px 0px 0px;
text-shadow: 8px 8px 0 rgba(0,255,255,0.5);
}

#site-header p {
position:absolute;
display:block;
font-family: Museo-500;
font-size:1em;
line-height:1em;
color:white;
width:40%;
margin-top:18%;
margin-left:45%;
padding:10% 0% 0% 0%;
}

.Circle {
position:absolute;
margin: 10% 0% 0% 50%;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    behavior: url(PIE.htc);

    width:180px;
    height: 180px;
    background: #00BCE4;
    }
    
.circle-text {     
    font-family: Museo-500;
    font-size:1em;
    line-height:1em;
    color:white;
    margin:50px 0px 0px 30px;
    width:120px;
    }

#top-menu {
position:fixed;
top:0%;
width:180px;
background-color:#E3DC05;
padding:5px 0px 10px 0px;
}

#top-menu li {
float:left;
margin-left:1%;
}


#top-menu li a{
display:block;
text-decoration:none;
color:white;
font-family:Museo-500;
font-size:0.8em; 
padding: 10px 5px 0px 9px;
}

#top-menu li a:hover {
color:#00BCE4;
}


#content-wrapper h2 {
font-family: Museo-700;
font-size:1.2em;
color:#00BCE4;
margin-left:9%;
}

#content-wrapper h3 {
font-family: Museo-500;
font-size:0.8em;
color:#9A8B7D;
line-height:1.5em;
margin-left:9%;
}

#content-wrapper p {
font-family: Museo-500;
font-size:0.8em;
color:#9A8B7D;
line-height:1.5em;
margin-left:9%;
border-bottom-style:solid;
border-width:2.5px;
border-color:#E3DC05;
}

#content-wrapper p span {
font-family: Museo-500;
font-size:1em;
color:#00BCE4;
line-height:1.5em;
}

#content-wrapper img {
margin-left:-1%;
margin-bottom:2%;
max-width:100%;
}

#my_video_1 {
margin:8% 0% 7% 9%;
}

#content {
background-color:white;
}

.numberCircle {
	position:absolute;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    behavior: url(PIE.htc);

    width: 20px;
    height: 20px;
    padding: 0.8%;
    background: #E3DC05;
    
    font-family: Museo-700;
    font-size:1em;
    line-height:1.4em;
    color:white;
    text-align:center;
    margin-left:1%;
}​



#thankyou {
position:absolute;
}


#thankyou h1 {
font-family: Museo-700;
font-size:100px;
color:#E3DC05;
margin-left:20px;
padding:80px 0px 0px 0px;
}

#thankyou h1 span{
font-family: Museo-700;
font-size:50px;
color:#E3DC05;
margin-left:1px;
padding:60px 0px 0px 0px;
}

#thankyou h2 {
display:block;
width:60%;
margin-left:48%;
font-family: Museo-500;
font-size:1em;
color:#00BCE4;
padding:0% 0% 10% 0%;
}

.resume a{
font-family: Museo-500;
font-size:1em;
line-height:1em;
color:#E3DC05;
text-decoration:none;
 }

.resume a:hover {
color:#00BCE4;
}

#contact-info {
position:absolute;
max-width:960px;
width:100%;
height:9%;
padding: 3% 0% 0% 0%;
font-family: Museo-500;
font-size:0.8em;
color:white;
line-height:0.3em;
}

.email  a {
margin-left:6%;
font-family: Museo-500;
font-size:1em;
color:white;
text-decoration:none;
}

.email a:hover {
color:#00BCE4;
}

.footer {
display:block;
width:200px;
font-family: Museo-500;
font-size:0.5em;
color:white;
margin:25px 0px 0px 25px;
}

#footer-wrapper {
position:fixed;
}
}


