

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Center Content */

.centered { 
  margin:5px auto;
  width:960px;
}


body {
	width:960px;
	margin:50px auto;
}

#header {
position:relative;
top:0px;
left:300px;
}

#logo {
position:absolute;
padding:20px;
margin-bottom:500px;
}

#top-menu {
position:relative;
top:150px;
right:40px;
height:55px;
}

#top-menu li {
float:left;
margin:10px 0px 5px 15px;
font:25px arial,sans-serif;
}


#main-content {
position:relative;
color:black;
font:13px arial,sans-serif;
}

#first-article {
position:absolute;
top:200px;
left:200px;
width:350px;
color:black;
font:12px arial,sans-serif;
}

#dog {
float:left;
margin-bottom:20px;
}

.main-title {
font-size: 25px;
font-weight: bold; 
margin-bottom:5px;
}

p {
  margin-top: 0em;
  margin-bottom: 1em;
}


#second-article {
position:absolute;
top:200px;
right:0px;
width:350px;
color:black;
font:12px arial,sans-serif;
}

#cat {
float:left;
margin-bottom:20px;
}

#footer {
position:relative;
top:650px;
left:200px;
color:black;
font:13px arial,sans-serif;
 }
 
 
 .content-copyright {
 position;absolute;
 top:0px;
 left:0px;
 }
 
.martha {
position:absolute;
top:0px;
right:200px;
}

/* Clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix { display: inline-block; }
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }

